.prevent-select {

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* Cant select text */
  }


.hover-effect:hover{
    transition: .35s;
    color: red !important;
}

ul{
    list-style-type: none;
    font-size: 20px;
    font-style: bold;
    /* hides the bullet style */
}

.selector-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    /* background-color: aqua; */
    /* Add any additional styling you need */
  }