.header { 
    background-color: rgba(88, 88, 88, 0.377);
    
    
    height: 100vh;
    width: 100%;
    /* position: relative; */
    top: 0;
    margin-top: 0;

    


}
.name-title {
    position: absolute;
    top: 33%; /* Adjust this value to change the vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center the element horizontally */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 36px; /* Adjust the font size as needed */
    border: 10px solid black; /* Border */
    padding: 10px; /* Add some padding if needed */
}

.selector{
    
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.noselect{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }