.header {
    background-color: rgba(88, 88, 88, 0.377);
    height: 100vh;
    width: 100%;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
    justify-content: center;
    /* Center content vertically */
    position: relative;
}


.title-wrapper{
    position: relative;
    top: 0%;
}

.name-title {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 60px;
    border: 10px solid black;
    border-radius: 25px;
    padding: 20px;
    top: 55%;
    /* Adjust this value to move it closer to the top */
}

.titles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 10px;
    /* You can adjust margin or padding here for spacing */
}


.selector {

    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}






@keyframes colorChange {
    0% {
        background-color: #007bff;
        /* Initial color at 0% keyframe */
    }

    50% {
        background-color: #ff6347;
        /* Intermediate color at 50% keyframe */
    }

    100% {
        background-color: #00cc66;
        /* Final color at 100% keyframe */
    }
}

.color-changing-bg {
    animation: colorChange 15s infinite alternate;
    /* Use the animation with alternate direction */
}











@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start from the left, outside the viewport */
      opacity: 0; /* Start with opacity 0 */
    }
    100% {
      transform: translateX(0); /* Move to the original position */
      opacity: 1; /* Fully visible */
    }
  }
  
  .slide-in-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 10px;
    /* You can adjust margin or padding here for spacing */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    animation: slideIn 1s ease-in; /* Adjust the animation duration and timing function as needed */
  }