.header { 
    background-color: rgba(88, 88, 88, 0.377);
    height: 160px;
    width: 100%;
    position: relative;

    


}

.selector{
    
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.noselect{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }