.contentbox{
    margin-top: 45%;
    margin-bottom: 15%;
    padding-left: 15px;
}
.no-top-margin{
    margin-top: 25px;
}
.projects {
    margin-top: 0;
}
.godtasslogo{
    
    max-height: 200px; /* This will maintain the aspect ratio */
    display: block;
    user-select: none;
    object-fit: contain;
    left: 0;
   
    
    }

/* .project-tags{
   border: 1px black solid; 
} */


.gitHubTag{
    color: black;
}

.HTMLTag{
    color: rgb(245, 94, 24);
}
.CSSTag{
    color: rgb(18, 78, 243);
}
.reactTag{
    color: blue;
}

.tag {
    display: inline-block;
    background-color: rgb(216, 216, 216);
    font-size: 20px;
    /* border: 1px black solid; */
    border-radius: 15px;
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 5px; /* Add margin between tags */
  }