.contentbox{
    margin-top: 45%;
    margin-bottom: 15%;
    padding-left: 15px;
}
.no-top-margin{
    margin-top: 25px;
}
.projects {
    margin-top: 0;
}
.godtasslogo{
    
    max-height: 200px; /* This will maintain the aspect ratio */
    display: block;
    user-select: none;
    object-fit: contain;
    left: 0;
   
    
    }